html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("/public/sky.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* -- header -- */

.header-link-container {
  display: flex;
  flex-direction: column;
  align-items: right;

  position: absolute;
  top: 5%;
  right: 5%;
}

.header-link {
  margin: 20px;
  color: white;
  text-shadow: 0 0 10px black;
  text-align: right;
  font-size: 40px;
  font-weight: bold;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-shadow: 0 0 20px black;
  /* text-decoration: underline; */
}

a:active {
  text-shadow: 0 0 20px black;
  /* text-decoration: underline; */
}

/* -- bottom panel */

.bottom-panel {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;

  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-end;

  padding: 5%;

  height: 50%;
}

/* -- title -- */

.title-logo {
  clip-path: circle(closest-side);
  max-height: 250px;
  max-width: 100%;
}

.title {
  color: white;
  text-align: left;
  font-size: 100px;
  font-weight: bold;
  text-shadow: 0 0 10px black;

  margin: 0px 20px;

  flex-grow: 1;
}

/* -- social links -- */

.site-icon-container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  align-items: center;
}

.site-icon {
  color: white;
  font-size: 80px;
  text-shadow: 0 0 10px black;
}

.site-icon:hover {
  text-shadow: 0 0 20px black;
}

/* -- dark theme? -- */

@media (prefers-color-scheme: dark) {
  .background {
    /* dim bg image in dark mode */
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("/public/sky.jpg");
    background-size: cover;
    background-position: center;

    position: fixed;
    top: 0;
    left: 0;

    /* Preserve aspect ratio */
    width: 100%;
    height: 100%;

    z-index: -1;
  }
}

@media (max-width: 1000px) {
  .title-logo {
    max-height: 150px;
  }

  .title {
    font-size: 50px;
  }
}

/* -- content -- */

.content {
  width: 70%;
  margin: auto;
  padding: 50px;
  border-radius: 10px;
  background-color: white;
}

/* -- header title -- */

.header-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 5% 10%;
}

.header-logo {
  clip-path: circle(closest-side);
  max-height: 120px;
  max-width: 100%;
}

.header-title {
  color: white;
  text-align: left;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0 0 10px black;

  margin: 0px 20px;

  flex-grow: 1;
}
